.app-header {
    background-color: transparent;
    padding: 0;
    /* Remove horizontal padding as top-bar has it */
    display: flex;
    flex: 1;
    /* Allow it to take available space */
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    /* Remove border */
    box-shadow: none;
    /* Remove shadow */
    margin-right: 15px;
    height: 50px; /* Force a smaller height */
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-left h1 {
    font-size: 1rem;
    color: var(--color-text-primary);
    font-weight: 500;
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Buttons and Avatar styles removed */